:root {
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --red-alert: rgb(192, 110, 110);
}

/* *, *:before, *:after {
  box-sizing: border-box;
} */
html {
  height: 900px;
}

body {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  font-family: 'Space Grotesk', monospace, sans-serif;
}

/* Hidding second screen and footer */
#second-screen {
  display: none;
}

.attribution {
  display: none;
}

#container-lg {
  display: flex;
  height: 100vh;
  width: 100%;
}

#colored-bg {
  height: 100vh;
  position: relative;
  width: 30%;
}

#colored-bg picture {
  height: 0;
}

picture img {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Form positioning and style */
label {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#form-container {
  display: flex;
  justify-content: flex-start;
  width:  calc(100% - 483px);
  width: 70%;
}

form div > div {
  margin-bottom: 25px;
}

form {
  position: relative;
  left: 180px;
  top: 270px;
  width: 380px;
  margin: 0 60px 0 20%;
  height: 400px;
  /* transition: 1000ms; */
}

#form-container input {
  height: 40px;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 7px;
  margin-top: 5px;
  padding: 0 10px;
  font-family: 'Space Grotesk', monospace, sans-serif;
}

#form-container input:focus {
  outline: 1px solid var(--very-dark-violet);
}

/* Removing arrow of input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Name and Number fields */
#card-name-number label {
  display: block;
}

#form-container span {
  font-size: 0.9rem;
  color: rgb(192, 110, 110);
}

#card-name-number input {
  display: block;
  width: calc(100% - 23px);
}

/* Exp date and cvc */
#card-date-cvc {
  display: flex;
  flex-wrap: wrap;
}

#card-cvc-field {
  width: calc(50% - 23px);
}

#card-date-field {
  width: calc(55% - 20px);
}

#card-date-field label, #card-cvc-field label {
  display: block;
}

#card-date-field input {
  width: 25%;
}

#card-cvc-field input {
  width: 100%;
}

/* Button */

button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: black;
}

/* Card positioning */
#floating-cards {
  position: absolute;
  width: auto;
  margin-left: 10%;
}

#card-front {
  position: relative;
  top: 175px;
  width: 447px;
  /* transition: 1000ms ease-in-out; */
}

#card-back {
  position: relative;
  margin-left: 12%;
  width: 447px;
  /* transition: 1000ms ease-in-out; */
}

/* Card inner elements */
#card-front-elements {
  position: relative;
  top: -225px;
  width: 400px;
  color: white;
  letter-spacing: 0.2rem;
  margin: 0 auto;
}

#card-front-elements svg {
  margin-bottom: 60px;
}

#card-number-din {
  font-size: 1.8rem;
  height: 60px;
}

#card-name {
  font-size: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#card-front-elements p {
  margin: 0;
}

#name {
  width: 400px;
}

#cvc {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  color: white;
  position: relative;
  top: -152px;
  left: 360px;
  margin: 13.6px 0;
  width: 50px;
}
/* End of card positioning */

#wront-year {
  flex-basis: 100%;
}

#card-year {
  margin-right: 20px;
}

/* Second screen */
#second-screen {
  position: relative;
  left: 180px;
  top: 270px;
  width: 400px;
  margin: 20px 0 0 200px;
  height: 400px;
  text-align: center;
}

#second-screen p:nth-child(3) {
  color: var(--dark-grayish-violet);
}

#error-msg {
  color: var(--red-alert);
}

/* Tablet view */
@media screen and (max-width: 1110px) and (min-width: 853px) {
  #floating-cards {
    margin-left: 5%;
  }

  #card-back {
    position: relative;
    margin-left: 0 !important;
    width: 447px;
    /* transition: 1000ms ease-in-out; */
  }

  form {
    margin: 0 60px 0 12%;
  }
}

/* Super big screen fix */
@media screen and (min-width: 2100px) {
  #card-front {
    margin-left: 70%;
  }
  
  #card-back {
    margin-left: 80%;
  }
}

@media screen and (max-width: 852px) {
  #container-lg {
    display: block;
    width: 100%;
    height: auto;
  }

  #colored-bg {
    width: 100%;
    height: 280px;
  }

  #form-container {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  form {
    position: static;
    width: 90%;
    margin: 80px auto;
    z-index: 2;
  }

  form * {
    font-size: 1.1rem !important;
    font-family: 'Space Grotesk', monospace, sans-serif;
  }

  form input {
    height: 50px !important;
  }

  /* Cards positioning */
  #floating-cards {
    position: static;
    width: 85%;
    margin: 0 auto;
    height: 100px;
  }

  #card-front {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    top: -115px;
    transform: translateX(-10px);
    height: 250px;
  }
  
  #card-back {
    position: relative;
    margin: 0 auto;
    top: -500px;
    transform: translateX(10px);
  }
}

@media screen and (max-width: 544px) {
  #floating-cards {
    width: 100%;
    transform: scale(0.7);
    margin: 0 auto; 
  }
}